body {
    background-color: #f8f9fa; /* Fondo claro */
}

.contenedor {
    display: flex;
    margin: 20px; /* Margen alrededor del contenedor */
}

/* Estilos de la barra lateral */
.barra-lateral {
    background-color:#0f4913; /* Color oscuro */
    color: white;
    padding: 20px;
    width: 250px; /* Barra expandida */
    border-radius: 15px; /* Bordes redondeados */
    margin-right: 20px; /* Espacio entre la barra y el contenido */
    transition: width 0.3s; /* Transición para el colapso */
    overflow: hidden; /* Evitar desbordamiento */
    white-space: nowrap; /* Evitar que el texto se rompa */
}

.barra-lateral h2, .barra-lateral h3 {
    color: #ffffff;
    display: none; /* Ocultar el título en la barra colapsada */
}

.barra-lateral:hover {
    width: 250px; /* Ancho al pasar el mouse */
}

.barra-lateral:hover h3 {
    display: block; /* Mostrar el título al expandir */
}

.barra-lateral ul {
    list-style-type: none;
    padding: 0;
}

.barra-lateral ul li {
    margin: 10px 0;
}

.barra-lateral ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.barra-lateral ul li a i {
    margin-right: 15px; /* Espacio entre el icono y el texto */
}

.barra-lateral ul li a span {
    display: none; /* Ocultar el texto cuando está colapsada */
}

.barra-lateral:hover ul li a span {
    display: inline; /* Mostrar el texto al expandir */
}

.barra-lateral ul li a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

.contenido-principal {
    position: relative; /* Necesario para el pseudo-elemento */
    flex: 1;
    width: 800px;
    height: 590px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1; /* Asegura que el contenido esté por encima del pseudo-elemento */
}

.contenido-principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/admin.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px); /* Nivel de desenfoque */
    z-index: -1; /* Mantén el fondo detrás del contenido */
    opacity: 0.9; /* Si deseas que sea un poco transparente */
    border-radius: 20px; /* Mantén los bordes redondeados del contenedor */
}
.btn-crear {
    margin-bottom: 20px;
}

.btn-success {
    background-color: #000000; /* Color oscuro */
    color: #ffffff;
    font-weight: bold;
    border: #000000;
}

.btn-success:hover {
    background-color: #fcfcfc; /* Nuevo color de fondo al pasar el mouse */
    color: #000000;  
}

/* Estilos del contenedor del formulario */
.form-container {
    max-width: 750px;
    height: 570px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(92, 90, 90, 0.2); /* Cambia el 0.7 para ajustar la opacidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(8px); /* Aplica un desenfoque al fondo */
}

.form-container label {
    color: #000000; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    font-size: 15px; /* Tamaño de fuente de 15px */
}

.form-header {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

h2 {
    color: #000000;
    font-weight: bold;
}

.header-titulo {
    background-color: #0f4913; /* Fondo gris */
    color: white; /* Letras blancas */
    text-align: center; /* Centrar el texto */
    padding:0px 0; /* Espaciado vertical */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 0; /* Asegúrate de que no haya margen inferior */
    }

.header-titulo h2 {
    color: #ffffff;
}

.form-container {
    max-width: 750px;
    height: 550px;
    top: 0;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(92, 90, 90, 0.2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(8px); 
}

.form-container label {
    color: #000000;      
    font-weight: bold; 
    font-size: 15px;     
}

.form-header {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
  
}
h2{
color: #000000;
font-weight: bold;
}


.barra-lateral {
width: 48px; 
background: #000000;
color: white;
padding: 15px;
transition: width 0.3s;
overflow: hidden;
white-space: nowrap;
}

.barra-lateral h3 {
display: none; 
}

.barra-lateral ul {
list-style-type: none;
padding: 0;
}

.barra-lateral ul li {
margin: 10px 0;
}

.barra-lateral ul li a {
color: white;
text-decoration: none;
display: flex;
align-items: center;
}

.barra-lateral ul li a i {
margin-right: 15px; 
}


.barra-lateral:hover {
width: 250px;
}


.barra-lateral:hover h3 {
display: block;
}

.barra-lateral:hover ul li a span {
display: inline;
}

.barra-lateral ul li a span {
display: none;
}

.header-titulo {
background-color: #000000; 
color: white; 
text-align: center; 
padding:0px 0; 
font-weight: bold; 
margin-bottom: 0; 
}

.header-titulo h2 {
color: #ffffff;
}