*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../images/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}
h1{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-family: cursive;
}
.cuadro-texto{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}
.cuadro-texto label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    font-family: cursive;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}
input:focus ~ label,
input:valid ~ label {
    top: -5px;
}
.cuadro-texto input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: cursive;
    padding: 0 35px 0 5px;
    color: #fff;
}
.cuadro-texto icon-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}
.recordar{
    margin: 35px 0;
    font-size: 0.85rem;
    font-family: cursive;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.recordar label{
    display: flex;
    align-items: center;
}
.recordar label input{
    margin-right: 3px;
}
.recordar a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.recordar a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: cursive;
    font-weight: 600;
    transition: all 0.4s ease;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.registrar{
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    font-family: cursive;
    margin: 25px 0 10px;
}

.registrar p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.registrar p a:hover {
    text-decoration: underline;
}

.mensaje-error {
    background-color: #f44336;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cuadro-texto {
    position: relative;
    margin-bottom: 20px;
}

.cuadro-texto input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
