body {
    background-color: #f8f9fa; /* Fondo claro */
}
.contenedor {
    display: flex;
    margin: 20px; /* Margen alrededor del contenedor */
}
.barra-lateral {
    background-color: #000000; /* Color oscuro */
    color: white;
    padding: 20px;
    width: 250px;
    border-radius: 20px; /* Bordes redondeados */
    margin-right: 20px; /* Espacio entre la barra y el contenido */
}
.barra-lateral h2 {
    color: #ffffff;
}
.barra-lateral ul {
    list-style-type: none;
    padding: 0;
}
.barra-lateral ul li {
    margin: 10px 0;
}
.barra-lateral ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.barra-lateral ul li a:hover {
    text-decoration: underline;
}
.contenido-principal {
    flex: 1;
    width: 800px; /* Fija el ancho */
    height: 600px; /* Fija la altura */
    padding: 20px;
    background-image: url(../images/mecanica.jpg);
    background-size: cover; /* Asegura que la imagen de fondo se ajuste al tamaño */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    color: #000000;
    text-align: center;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    overflow: hidden; /* Evita que el contenido se desborde */
}

.tabla-tickets {
    margin-top: 20px;
}
.btn-crear {
    margin-bottom: 20px;
}

.btn-success{
    background-color: #000000; /* Color oscuro */
    color: #ffffff;
    font-weight: bold;
    border: #000000;
}
